.App {
	/* text-align: center; */
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 20px;
	text-align: center;
}
@media (max-width: 450px) {
	html {
		font-size: 16px;
	}
}

body,
input,
select {
	color: #111;
}

body {
	background: #2e64b5;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-icon {
	/* font-size: 30px; */
	display: inline-block;
	padding-right: 7px;
	margin-top: 5px;
	vertical-align: middle;
}

.wrap {
	margin: 0 auto;
	display: flex;
	width: 90%;
	flex-wrap: wrap;
	justify-content: space-around;
}
@media (max-width: 1000px) {
	.wrap {
		max-width: 800px;
		flex-direction: column;
	}
}

.tbl-wc-nav {
	padding: 10px 20px 0;
	background-color: #83a8df;
	color: #183764;
}

.tbl-wc-nav a {
	color: #183764;
	text-decoration: none;
}

.tbl-wc-nav a.active {
	border-bottom: 4px solid #fff;
}

.container,
.knockout {
	margin: 1em auto;
	padding: 1em;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #e9eff9;
	border: 0.2em solid #193764;
	border-radius: 0.3em;
}
@media (max-width: 1000px) {
	.container,
	.knockout {
		width: 100%;
	}
}

h1.page-header {
	width: 100%;
	/* background: #193764; */
	background: #124d91;
	font-weight: 700;
	font-size: 3rem;
	padding: 0.3em 0;
	color: #fff;
	border-bottom: 0.1em solid #fff;
}

.sub-header {
	color: #fff;
	font-weight: 700;
	font-size: 2.5rem;
	padding: 0.4em 0 0;
}

.table-container {
	width: 100%;
}

.group-title {
	color: #244e8c;
}

table {
	width: 100%;
}
table thead {
	background: #193764;
	color: #fff;
	font-weight: 700;
	height: 30px;
}
table tr {
	height: 50px;
}
table tr:nth-child(1n) {
	background: #83a8df;
}
table tr:nth-child(2n) {
	background: #c0d3ef;
}
table td,
table th {
	vertical-align: middle;
	font-family: 'Rubik', sans-serif;
}

@media (max-width: 350px) {
	.name {
		display: none;
	}
}

.matchContainer {
	position: relative;
	background: #eee;
	padding: 5px 10px;
	margin: 10px 5px;
	text-align: center;
	z-index: 2;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 0 10px 3px #aaa;
	box-shadow: 0 0 10px 3px #aaa;
}

.matchTeams {
	background: #ddd;
	padding: 4px;
	margin: 5px 0;
	font-size: 18px;
	position: relative;
}

.matchTeam {
	background: #ddd;
	padding: 4px;
	margin: 5px 0;
	font-size: 18px;
	position: relative;
}

.knockout .team {
	width: 60%;
	padding-left: 10px;
}

.knockout .matchTeam.won {
	background: rgba(255, 253, 8, 0.5);
}

.knockout .score {
	background: #fff;
	padding: 0.5em 1em;
	font-size: 1em;
	text-align: center;
}
/* .matches {
	padding: 1em 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
} */
.matches a {
	text-decoration: none;
	color: inherit;
}
.matches .match {
	display: flex;
	justify-content: center;
	/* text-align: left; */
	padding: 0.2em 0;
}
.matches .match input {
	text-align: center;
	width: 2.5em;
	height: 1.5em;
	margin: 0.3em 0.1em;
	font-size: 1rem;
	border: 0.05em solid #193764;
	border-radius: 0.2em;
}
.matches .match .v {
	padding: 0.5em 0.25em;
}

.knockout {
	width: 90%;
}
@media (max-width: 900px) {
	.knockout {
		font-size: 0.8em;
	}
}
@media (max-width: 650px) {
	.knockout {
		font-size: 0.65em;
	}
}
.knockout h2 {
	width: 80%;
	margin: 0 auto;
	font-size: 3em;
	color: #244e8c;
	border-bottom: 0.1em solid #244e8c;
}

.knockout.semi {
	font-size: 1.3em;
}
@media (max-width: 900px) {
	.knockout.semi {
		font-size: 0.9em;
	}
}
@media (max-width: 650px) {
	.knockout.semi {
		font-size: 0.75em;
	}
}
@media (max-width: 500px) {
	.knockout.semi {
		font-size: 0.65em;
	}
}
.knockout.final {
	font-size: 1.5em;
}
@media (max-width: 900px) {
	.knockout.final {
		font-size: 1.2em;
	}
}
@media (max-width: 650px) {
	.knockout.final {
		font-size: 0.9em;
	}
}
@media (max-width: 500px) {
	.knockout.final {
		font-size: 0.75em;
	}
}
@media (max-width: 350px) {
	.knockout.final {
		font-size: 0.65em;
	}
}
.knockout.winner {
	font-size: 1.3em;
	display: flex;
	align-items: center;
	margin-bottom: 60px;
}
@media (max-width: 450px) {
	.knockout.winner {
		font-size: 1em;
	}
}
.knockout.winner .winner-name {
	font-size: 2em;
	color: #193764;
	font-weight: 700;
}
.knockout .matches {
	padding: 1em 0;
}
.knockout .matches .match {
	padding: 0.2em 0;
}
.knockout .matches .match input {
	text-align: center;
	width: 2em;
	height: 1.5em;
	margin: 0.6em 0.1em;
	font-size: 2em;
}
.knockout .matches .match .v {
	padding: 0.8em 0.1em;
	font-size: 2em;
}

.flag {
	width: 10em;
	height: 9em;
	position: relative;
	font-size: 0.3em;
	background-size: cover;
	background-image: url(//www.barbadosfa.com/images/team-placeholder-logo.e50b9536.png)
}

.topScorers-container .flag {
	width: 20em;
	height: auto;
}

.argentina {
	box-shadow: 0 3em #74acdf inset, 0 6em #fff inset, 0 9em #74acdf inset;
}
.argentina:before {
	width: 0.6em;
	height: 0.6em;
	border-radius: 50%;
	content: '';
	background: #fecc00;
	position: absolute;
	top: 0.83em;
	left: 1.23em;
	font-size: 4em;
}

.australia {
	background: #003399;
}
.australia:before {
	content: '\002737';
	color: #fff;
	font-size: 1.5em;
	position: absolute;
	top: 0.3em;
	left: 5.5em;
	text-shadow: 1.2em 1.2em #fff, -1em 1.5em #fff, 0 3.6em #fff;
}
.australia:after {
	content: '\002737';
	color: #fff;
	font-size: 3em;
	position: absolute;
	top: 1.6em;
	left: 0.6em;
}
.australia > div:nth-child(1) {
	position: relative;
	width: 6em;
	height: 4em;
}
.australia > div:nth-child(2):before {
	content: '\2605';
	color: #fff;
	font-size: 0.8em;
	z-index: 5;
	position: absolute;
	top: 4.8em;
	left: 12.4em;
}

.brazil {
	background: #009b3a;
}
.brazil:before {
	background: #fedf00;
	position: absolute;
	content: '';
	top: 1.8em;
	left: 2.7em;
	width: 6.5em;
	height: 5.7em;
	transform: rotate(30deg) skew(-30deg);
}
.brazil > div {
	overflow: hidden;
	position: absolute;
	width: 4.4em;
	height: 4.2em;
	content: '';
	background: #003399;
	border-radius: 50%;
	top: 4.6em;
	left: 5.9em;
	transform: translate(-50%, -50%);
}
.brazil > div:before {
	content: '';
	z-index: 2;
	width: 6em;
	height: 4em;
	border-radius: 50%;
	position: absolute;
	top: 1.3em;
	left: -2em;
	border: 0.3em solid #fff;
}
.brazil > div:after {
	color: #fff;
	font-size: 0.2em;
	position: absolute;
	top: 9em;
	left: 3em;
	content: '\002739 ';
	text-shadow: 10.5em -4em #fff, 0.6em 2em #fff, 1em 4em #fff, 1.6em 6em #fff, 2.4em 1em #fff, 3.6em 0 #fff, 4.4em 5em #fff, 6em 8em #fff,
		7.6em 1em #fff, 8.2em 8em #fff, 8.7em 2em #fff, 9em 4em #fff, 12em 3em #fff, 13em 6em #fff, 12em 5em #fff, 10em 5em #fff, 11em 2em #fff,
		8em 2.5em #fff;
}

.china {
	background: #de2910;
}
.china:before {
	content: '\2605 \FE0E';
	color: #fedf00;
	font-size: 3em;
	position: absolute;
	top: 0.1em;
	left: 0.2em;
}
.china:after {
	content: '\2605';
	color: #fedf00;
	font-size: 1em;
	position: absolute;
	top: 1.5em;
	left: 4em;
	transform: rotate(25deg);
	text-shadow: -1em -1em, 0.2em 1.5em, -0.5em 2.8em;
}

.england {
	background: #cc0000;
}
.england:before {
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 5.4em;
	height: 3.75em;
	content: '';
	box-shadow: 6.75em 0 #fff, 0em 5.25em #fff, 6.75em 5.25em #fff;
}

.france {
	box-shadow: 4em 0 #003399 inset, 8em 0 white inset, 12em 0 #ee0a30 inset;
}

.germany {
	box-shadow: 0 3em #000 inset, 0 6em #cc0000 inset, 0 9em #fedf00 inset;
}

.ghana {
	box-shadow: 0 3em #cf142b inset, 0 6em #fedf00 inset, 0 9em #006233 inset;
}
.ghana:before {
	content: '\2605';
	position: absolute;
	top: 0.67em;
	left: 1.2em;
	font-size: 3.8em;
}

.iceland {
	background: #fff;
}
.iceland:before {
	background: #003399;
	position: absolute;
	top: 0;
	left: 0;
	width: 3.5em;
	height: 3.5em;
	content: '';
	box-shadow: 5.5em 0 #003399, 8.55em 0 #003399, 0 5.5em #003399, 8.55em 5.5em #003399, 5.5em 5.5em #003399;
}
.iceland:after {
	background: #de2910;
	position: absolute;
	top: 0;
	left: 4em;
	width: 1.05em;
	height: 1em;
	content: '';
	box-shadow: 0 1em #de2910, 0 2em #de2910, 0 3em #de2910, 0 4em #de2910, 0 5em #de2910, 0 6em #de2910, 0 7em #de2910, -3.98em 4em #de2910,
		-3em 4em #de2910, -2em 4em #de2910, -1em 4em #de2910, 1em 4em #de2910, 2em 4em #de2910, 3em 4em #de2910, 4em 4em #de2910, 5em 4em #de2910,
		6em 4em #de2910, 7em 4em #de2910, 0 8em #de2910;
}

.italy {
	box-shadow: 4em 0 #009b3a inset, 8em 0 #fff inset, 12em 0 #cf142b inset;
}

.japan {
	background: #fff;
}
.japan:before {
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	content: '';
	background: #cf142b;
	position: absolute;
	top: 0.4em;
	left: 0.75em;
	font-size: 4em;
}

.netherlands {
	box-shadow: 0 3em #de2910 inset, 0 6em #fff inset, 0 9em #003399 inset;
}

.russia {
	box-shadow: 0 3em #fff inset, 0 6em #003399 inset, 0 9em #de2910 inset;
}

.south-africa {
	background: linear-gradient(#de2910 30%, #fff 30%, #fff 70%, #003399 70%);
	position: relative;
	overflow: hidden;
}
.south-africa:before {
	position: absolute;
	content: '';
	width: 4.5em;
	height: 5em;
	background: #000;
	transform: rotate(45deg);
	top: 2.25em;
	left: -2.5em;
	box-shadow: 0 0 0 0.5em #fecc00, 0 0 0 2.5em #009b3a, 0 0 0 3.25em #fff;
}
.south-africa:after {
	position: absolute;
	content: '';
	background: #009b3a;
	width: 8em;
	height: 2em;
	top: 3.5em;
	left: 4em;
}

.spain {
	box-shadow: 0 2.5em #de2910 inset, 0 6.5em #fedf00 inset, 0 9em #de2910 inset;
}

.sweden {
	background: #fecc00;
}
.sweden:before {
	background: #006aa7;
	position: absolute;
	top: 0;
	left: 0;
	width: 3.5em;
	height: 3.5em;
	content: '';
	box-shadow: 5.5em 0 #006aa7, 8.52em 0 #006aa7, 0 5.5em #006aa7, 8.52em 5.5em #006aa7, 5.5em 5.5em #006aa7;
}

.united-kingdom,
.australia > div:nth-child(1) {
	background: linear-gradient(transparent 44%, #cc0000 44.1%, #cc0000 56%, transparent 56.1%),
		linear-gradient(90deg, transparent 44%, #cc0000 44.1%, #cc0000 56%, transparent 56.1%),
		linear-gradient(transparent 40%, #fff 40.1%, #fff 60%, transparent 60.1%),
		linear-gradient(90deg, transparent 40%, #fff 40.1%, #fff 60%, transparent 60.1%),
		linear-gradient(34deg, transparent 45%, #fff 45.1%, #fff 48%, #cc0000 48.1%, #cc0000 52%, #fff 52.1%, #fff 56%, transparent 56.1%),
		linear-gradient(-34deg, #003399 45%, #fff 45.1%, #fff 48%, #cc0000 48.1%, #cc0000 52%, #fff 52.1%, #fff 56%, #003399 56%);
}

.united-states {
	position: relative;
	box-shadow: 0 0.7em #bf0a30 inset, 0 1.4em #fff inset, 0 2.1em #bf0a30 inset, 0 2.8em #fff inset, 0 3.5em #bf0a30 inset, 0 4.2em #fff inset,
		0 4.9em #bf0a30 inset, 0 5.6em #fff inset, 0 6.3em #bf0a30 inset, 0 7em #fff inset, 0 7.7em #bf0a30 inset, 0 8.4em #fff inset, 0 9em #bf0a30 inset;
}
.united-states:before {
	position: absolute;
	background: #00008b;
	content: '';
	width: 5.5em;
	height: 4.9em;
	top: 0;
	left: 0;
}
.united-states:after {
	color: #fff;
	content: '\2605';
	position: absolute;
	top: 0.2em;
	left: 0.2em;
	font-size: 0.6em;
	text-shadow: 0em 0em #fff, 1.6em 0em #fff, 3.2em 0em #fff, 4.8em 0em #fff, 6.4em 0em #fff, 8em 0em #fff, 0.8em 0.8em #fff, 2.4em 0.8em #fff,
		4em 0.8em #fff, 5.6em 0.8em #fff, 7.2em 0.8em #fff, 0em 1.6em #fff, 1.6em 1.6em #fff, 3.2em 1.6em #fff, 4.8em 1.6em #fff, 6.4em 1.6em #fff,
		8em 1.6em #fff, 0.8em 2.4em #fff, 2.4em 2.4em #fff, 4em 2.4em #fff, 5.6em 2.4em #fff, 7.2em 2.4em #fff, 0em 3.2em #fff, 1.6em 3.2em #fff,
		3.2em 3.2em #fff, 4.8em 3.2em #fff, 6.4em 3.2em #fff, 8em 3.2em #fff, 0.8em 4em #fff, 2.4em 4em #fff, 4em 4em #fff, 5.6em 4em #fff, 7.2em 4em #fff,
		0em 4.8em #fff, 1.6em 4.8em #fff, 3.2em 4.8em #fff, 4.8em 4.8em #fff, 6.4em 4.8em #fff, 8em 4.8em #fff, 0.8em 5.6em #fff, 2.4em 5.6em #fff,
		4em 5.6em #fff, 5.6em 5.6em #fff, 7.2em 5.6em #fff, 0em 6.4em #fff, 1.6em 6.4em #fff, 3.2em 6.4em #fff, 4.8em 6.4em #fff, 6.4em 6.4em #fff,
		8em 6.4em #fff;
}

/* DROPDOWN */

.trigger {
	border: 2px solid #2196f3;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	padding: 10px;
	width: 100%;
}

.content {
	background: #fff;
	border: 2px solid #2196f3;
	border-radius: 0 0 5px 5px;
	padding: 10px;
	position: absolute;
	width: 100%;
	text-align: center;
}

.item {
	padding: 10px;
	transition: background 0.1s linear;
}
.item:hover {
	background: #2196f3;
	color: #fff;
	cursor: pointer;
}

.dropdown {
	box-shadow: 0 4px 10px rgba(#7c4dff, 0.2);
	margin: 0px auto;
	outline: none;
	position: relative;
	transition: box-shadow 0.1s linear;
}

.dropdown.active {
	box-shadow: 0 10px 30px rgba(#7c4dff, 0.2);
}

.dropdown:hover > .trigger,
.dropdown.active > .trigger {
	background: #2196f3;
	color: #fff;
}

.dropdown.active > .trigger {
	background: #2196f3;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: #fff;
}

/* DROPDOWN END */

/* SCORE */
.matchHeadContainer {
	/* overflow: hidden; */
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	max-width: 996px;
	margin: 0 auto;
}
.matchHead {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 40px 24px 40px 24px;
	display: table-cell;
	direction: ltr;
	vertical-align: top;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
@media (max-width: 600px) {
	.matchHead {
		padding: 24px 18px 20px 18px;
	}
}
.teamsContainer {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	clear: both;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.teamsContainer .team {
	width: 50%;
}

.matchScoreContainer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	background: #e90052;
}

.matchScoreContainer span {
	display: inline-block;
	margin: 10px;
}

.update-score-btn {
	background-color: #3498db;
	border-bottom: 5px solid #2980b9;
	text-shadow: 0px -2px #2980b9;
	position: relative;
	padding: 10px 40px;
	margin: 0px 10px 10px 0px;
	float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #fff;
	text-decoration: none;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	cursor: pointer;
}

.update-score-btn:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	border-bottom: 1px solid;
}

/* CHAMPIONS */

.champions .trophy {
	font-size: 6rem;
}

/* CHAMPIONS END */

/* LOGO */

.page-header .logo {
	background-image: url(./img/tbl-soccer-white-logo.png);
	width: 120px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: -25px; 
	display: inline-block;
}

.page-header .tab {
	position: relative;
	z-index: 2;
}

.page-header .la {
	position: relative;
	z-index: 3;
	transform: translate(-9px);
	display: inline-block;
}
.page-header .tbl-icon {
	background-image: url(/static/media/logo.b5ab2f00.png);
	width: 65px;
	background-size: contain;
	background-position: center;
	display: inline-block;
	vertical-align: middle;
	height: 50px;
	background-size: cover;
	transform: translate(-6px);
	z-index: 1;
}

/* END LOGO */

/* START SCORE */
.fixureContainer .teamSection {
	width: 75%;
	font-size: 1.2rem;
}

.fixureContainer .teamScore {
	width: 20%;
}

.fixureContainer .teamSection .team-selection__control,
.fixureContainer .teamScoreSelection .score-selection__control {
	font-size: 1.4rem;
}

.fixureContainer .teamSection .team-selection--is-disabled .team-selection__indicators {
	display: none;
}

.fixureContainer .teamSection .team-selection__single-value {
	color: #183764;
}

.fixureContainer .teamScoreSelection .score-selection__single-value {
	color: #183764;
}

.fixureContainer .vs {
	font-size: 3rem;
}

.matchHeadContainer .update-score-container button {
	background-color: #193764;
}

/* FLAGS */

.ac-mido {
	background-image: url(//d25t2285lxl5rf.cloudfront.net/images/shops/19657.png)
}

.bechor-shoshi-united {
	background-image: url(//d25t2285lxl5rf.cloudfront.net/images/shops/1308.jepg)
}

.al-jamila {
	background-image: url(//d25t2285lxl5rf.cloudfront.net/images/shops/3799.gif)
}

.fc-gute {
	background-image: url(//d25t2285lxl5rf.cloudfront.net/images/shops/13048.gif)
}

.flieshman-fc {
	background-image: url(//d25t2285lxl5rf.cloudfront.net/images/shops/21656.jepg)
}

.inter-marcelos {
	/* background-image: url() */
}

.hapoel-japo {
	background-image: url(//d25t2285lxl5rf.cloudfront.net/images/shops/24132.png)
}

.kinggeorge-city {
	background-image: url(//d25t2285lxl5rf.cloudfront.net/images/shops/9767.jepg)
}

.maccabi-liv {
	background-image: url(//d25t2285lxl5rf.cloudfront.net/images/shops/5272.gif)
}

.mexicana-united {
	/* background-image: url() */
}

.noon-hampton {
	background-image: url(//d25t2285lxl5rf.cloudfront.net/images/shops/16190.png)
}

.olympique-menza {
	background-image: url(//d25t2285lxl5rf.cloudfront.net/images/shops/5282.jpg)
}

/* END FLAGS */
